extends base.pug
block script
    script(src='https://dibu2002.github.io/DanceWebsite/public/index.js')
block style 
    style 
        include https://dibu2002.github.io/DanceWebsite/public/style.css
        include https://dibu2002.github.io/DanceWebsite/public/about.css

block content
    p.di Dance Instructors
    .ins 
        .ins1
            img(src='https://dibu2002.github.io/DanceWebsite/public/namrita.jpg' alt='')
            p.name Namrita Malla 
            p.name Bollywood/Belly
            p One of the gem of Zenith Dance Academy, who has now been featured in numerous albums and songs. Apart from being a fascinating dancer herself, she specialises in the dance forms like Bollywood and belly.
        .ins2
            img(src='https://dibu2002.github.io/DanceWebsite/public/pavitra.jpg' alt='')
            p.name Pavitra 
            p.name Forte- Malkhamb/Contemporary 
            p Mind blowing malkhamb performer and trainer with advance skills in contemporary and Hop-hop. Learn basic and advance level of mentioned dance forms with sound technicality.
        .ins3
            img(src="https://dibu2002.github.io/DanceWebsite/public/geeta.jpg", alt="")
            p.name Geeta Tamta
            p.name Semi-Classical
            p One of her kind, Geeta takes up the choreography as if it is there in her blood.She specialises in semi-classical form of dance which she does and makes you do in the best way possible.
        .ins4
            img(src='https://dibu2002.github.io/DanceWebsite/public/abhijeet-1.jpg' alt='')
            p.name Abhijeet 
            p.name Bollywood/Belly
            p One of the gem of Zenith Dance Academy, who has now been featured in numerous albums and songs. Apart from being a fascinating dancer herself, she specialises in the dance forms like Bollywood and belly.

        .ins5
            img(src='https://dibu2002.github.io/DanceWebsite/public/suraj.jpg' alt='')
            p.name Suraj 
            p.name Forte- Malkhamb/Contemporary 
            p Mind blowing malkhamb performer and trainer with advance skills in contemporary and Hop-hop. Learn basic and advance level of mentioned dance forms with sound technicality.
        .ins6
            img(src='https://dibu2002.github.io/DanceWebsite/public/chandrika.jpg' alt='')
            p.name Chandrika 
            p.name Bollywood/Belly
            p One of the gem of Zenith Dance Academy, who has now been featured in numerous albums and songs. Apart from being a fascinating dancer herself, she specialises in the dance forms like Bollywood and belly.
        .ins7
            img(src='https://dibu2002.github.io/DanceWebsite/public/yashika.jpg' alt='')
            p.name Yashika 
            p.name Bollywood/Belly
            p One of the gem of Zenith Dance Academy, who has now been featured in numerous albums and songs. Apart from being a fascinating dancer herself, she specialises in the dance forms like Bollywood and belly.
        .ins8
            img(src="https://dibu2002.github.io/DanceWebsite/public/deepak.jpg", alt="")
            p.name Deepak
            p.name Semi-Classical
            p One of her kind, Geeta takes up the choreography as if it is there in her blood.She specialises in semi-classical form of dance which she does and makes you do in the best way possible.
        .ins9
            img(src='https://dibu2002.github.io/DanceWebsite/public/rahul.jpg' alt='')
            p.name Rahul 
            p.name Forte- Malkhamb/Contemporary 
            p Mind blowing malkhamb performer and trainer with advance skills in contemporary and Hop-hop. Learn basic and advance level of mentioned dance forms with sound technicality.
