doctype html
html
  head
    block title
    block script
    block style
  body
    //- block nav
    nav#navbar.navi
        .mainlogo 
            .logos
                span.mda MAestro Dance Academy       
                span.logo Have feet Will Dance
                //- span.logpic
            img(src="https://dibu2002.github.io/DanceWebsite/public/facebook.png", alt="")
            img(src="https://dibu2002.github.io/DanceWebsite/public/insta.png", alt="")
            img(src="https://dibu2002.github.io/DanceWebsite/public/twitter.png", alt="")
        ul 
            li #[a(href="https://dibu2002.github.io/DanceWebsite/") HOME]
            li #[a(href="https://dibu2002.github.io/DanceWebsite/services") SERVICES ]
            li #[a(href="https://dibu2002.github.io/DanceWebsite/registration") REGISTRATION ]
            li #[a(href="https://dibu2002.github.io/DanceWebsite/about") ABOUT]
            li #[a(href="https://dibu2002.github.io/DanceWebsite/contact") CONTACT US ]
    block info
    block content
    block foot
      footer #[div copyright &copy MAestro Dance Academy | All Rights Reserved]; 
    
