extends base.pug
block script
    script(src='https://dibu2002.github.io/DanceWebsite/public/index.js')
block style 
    style 
        include https://dibu2002.github.io/DanceWebsite/public/style.css
        include https://dibu2002.github.io/DanceWebsite/public/read1.css

block content
    .dac Dance as a career
    .dac2 
        p Dance Career – Dance can be a great medium to express yourself and enjoy your life. But, there is much more to this craft. It can help you fulfil your dreams and earn big without ever feeling bored with it.   
        
        p Learning dance cannot be limited to a few weeks or months. It is an ongoing process as you learn something new every day or hone something that you already know. We believe a dancer cannot succeed until he/she works hard day after day.
        p Just because a person is a talented dancer doesn’t mean he/she doesn’t need to practice. In fact, the more you practice and dedicate yourself to the art, the better dancer you will become. Dedication, passion, and practice can turn you into an accomplished dancer and we are there to support you in every way possible.
        
        p Let us give you a brief introduction to our academy. Zenith Dance Academy is one of the best dance academies in India. Founded by Mr Sooraj Katoch and Ms Ritu Kapoor, it has completed 20 successful years as a dance school. The academy is based on the simple idea of celebrating life with joy and passion. Our dance academies in Delhi, Mumbai, Hyderabad and Gurgaon welcome dance lovers to get trained under the best names in the industry and become great dancers.
        
        p We will provide you with the right knowledge about the choreography industry. Zenith wants every student to realize his/her dancing potential. We teach various dance forms that can make you a versatile dancer. Our trainers help students to learn the nuances of each dance form and perform them with finesse. You can learn any dance form if you know the right movements and understand the beats.
        
        p MAestro takes pride in bringing all unique dance acts including Salsa, Samba, Jazz, Flamenco, etc. from all around the world to our motherland. We continue to add the latest dance styles and fusion forms so that our students can become the most dynamic and versatile dancers in the world.
        
