extends base.pug
block script
    script(src='https://dibu2002.github.io/DanceWebsite/public/index.js')
block style 
    style 
        include https://dibu2002.github.io/DanceWebsite/public/style.css
        include https://dibu2002.github.io/DanceWebsite/public/read1.css

block content
    .dac Challenges
    .dac2 
        p There is hardly any challenge that a dedicated dancer can’t face in his/her entire career except for their ego.

        | Sometimes, when a dancer who specialises in a particular dance form talks to another dance expert, there is a tone of arrogance that kills the spirit of dance.  We strongly condemn this attitude. Zenith believes that each dance and every dancer deserves equal respect, irrespective of the form or technique they choose to perform in.
