extends base.pug
block script
    script(src='https://dibu2002.github.io/DanceWebsite/public/index.js')
block style 
    style 
        include https://dibu2002.github.io/DanceWebsite/public/style.css
        include https://dibu2002.github.io/DanceWebsite/public/style2.css

block content
    .whyus Why Us?
    .boxes
        .box1 
            .head Dance as your career? Why not!
            p.text Zenith Dance Academy can be a great medium to express yourself and enjoy your life. But, there is much more to this craft. It can help you fullfil your dreams...
            button #[a(href="https://dibu2002.github.io/DanceWebsite/read1") More]

        .box3 
            .head Challenges
            p.text There is hardly any challenge that a dedicated dancer can’t face in his/her entire career except for their ego. Sometimes, when a dancer who… 
            button #[a(href="https://dibu2002.github.io/DanceWebsite/read2") More]
    .courses Our Courses
    p.types Bollywood | Contemporary | Hiphop
    table
        thead
            tr
                th Duration
                th 2 Days per week
                th 5 Days per week
        tbody
            tr
                td 1 Month
                td 1999 INR
                td 4999 INR
            tr
                td 3 Month
                td 3999 INR
                td 6999 INR
            tr
                td 6 Month
                td 5999 INR
                td 9999 INR
    br
    p.types Belly | Ballet | Salsa | Jazz | Any Other Special Dance form
    table
        thead
            tr
                th Duration
                th 2 Days per week
                th 5 Days per week
        tbody
            tr
                td 1 Month
                td 1999 INR
                td 4999 INR
            tr
                td 3 Month
                td 3999 INR
                td 6999 INR
            tr
                td 6 Month
                td 5999 INR
                td 9999 INR
    br
    p.types Certification Dance Courses
    table
        thead
            tr
                th Duration
                th 2 Days per week
                th 5 Days per week
        tbody
            tr
                td 1 Month
                td 1999 INR
                td 4999 INR
            tr
                td 3 Month
                td 3999 INR
                td 6999 INR
            tr
                td 6 Month
                td 5999 INR
                td 9999 INR
    
